*{
    font-family:"Roboto", Arial, sans-serif;
    font-style: normal;
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}
.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding:15px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo img{
    width: 120px;
    margin-left: 15px;
}
.header i{
    padding:0 8px;
    margin-left: .5rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.header .search{
    border-radius: 70%;
}
.search form{
    height: 35px;
    display: flex;
    border: 1px solid #ddd;
}
.search .search-inner{
    display: flex;
    align-items: center;

}
.search .search-inner img{
    display: flex;
    height: 12px;
    margin-right: 10px;
}
.search input{
    width: 500px;
    height: 100%;
}
.search input::placeholder{
    padding-left: .6rem;
}
.search button{
    height: 100%;
}

.YtBody{
    display: flex;
    overflow: hidden;
    height: calc(100vh -70px);
}
.sidebar{
    /* z-index: 50;
    position: fixed; */
    width: 240px;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
}
.sidebar_nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}
.nav-item{
    display: flex;
    align-items: center;
    padding: 12px 15px;
}
.nav-item span{
    margin-left: 15px;
}
.nav-item:hover{
    cursor: pointer;
    background: #bdbdbd;
}
hr{
    height: 1px;
    background: #bdbdbd;
}
.sidebar::-webkit-scrollbar{
    display:none;
}
i{
    color:rgb(96,96,96);
}

.video_selection{
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    overflow-y: scroll;
    border-top: 1px solid #ddd;
    background: #f9f9f9; 
}
.recommendboxes{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 10px;
    color:rgb(3,3,3);
}
.recommendboxes button.box{
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ddd;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.video{
    width: 320px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 1px solid #fff;
}
.video:hover{
    border: 1px solid #b8b8b8;
}
.thumbnail{
    width: 100%;
    height:170px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    display: flex;
    margin-top: 10px;
}
.logo img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h2{
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 18px;
    color: rgb(3,3,3);
}
.title a, span{
    font-size: 14px;
    text-decoration: none;
    color:rgb(96,96,96);
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Spoqa Han Sans Neo","sans-serif"
}








article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    font-family: "Spoqa Han Sans Neo","sans-serif"
}

.top10 {
    width: calc(100% - 320px);
    margin-left: 80px;
    margin-top: 50px;
}

@media(max-width: 1200px) {
    .top10 {
        width:90%;
        margin: 0 auto;
    }
}

@media(max-width: 900px) {
    .top10 {
        width:100%;
    }
}

.chart-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 17px
}

.chart-header span {
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600;
}

.chart-header button {
    border: 0;
    border-radius: 10px;
    padding: 3px;
    width: 55px;
    height: 30px;
    font-size: 12px;
    background-color: #ffed7b;
    font-weight: 500
}

.chart-wrap {
    overflow-x: auto
}

.chart-wrap::-webkit-scrollbar {
    height: 9px
}

.chart-wrap::-webkit-scrollbar-thumb {
    background: #ffed7b;
    border-radius: 10px
}

.chart-wrap::-webkit-scrollbar-track {
    background: rgba(233,203,114,.1)
}

.chart-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(7.5vmin * 4 + 40 * 4px)
}

@media(max-width: 670px) {
    .chart-div {
        height:calc(10.5vmin * 4 + 40 * 4px)
    }
}

.chart-div .each-song {
    cursor: pointer;
    margin: 5px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,.1) 0px 1px 3px 0px,rgba(0,0,0,.06) 0px 1px 2px 0px;
    width: 42%
}

@media(max-width: 670px) {
    .chart-div .each-song {
        width:54%
    }
}

.chart-div .each-song li {
    height: 7.5vmin;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%
}

@media(max-width: 670px) {
    .chart-div .each-song li {
        height:10.5vmin
    }
}

.chart-div .each-song li .song-detail {
    width: 40%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    gap: 10px
}

.chart-div .each-song li .song-detail .rank {
    padding-top: 7px;
    text-align: center
}

@media(max-width: 500px) {
    .chart-div .each-song li .song-detail .rank {
        font-size:3vmin
    }
}

.chart-div .each-song li .song-detail .songInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 15px)
}

@media(max-width: 900px) {
    .chart-div .each-song li .song-detail .songInfo {
        padding-top:7px
    }
}

.chart-div .each-song li .song-detail .songInfo .title {
    font-size: 15px;
    width: 100%;
    line-height: 26px;
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

@media(max-width: 500px) {
    .chart-div .each-song li .song-detail .songInfo .title {
        font-size:3vmin;
        line-height: 3vmin
    }
}

.chart-div .each-song li .song-detail .songInfo .singer {
    font-weight: 400;
    font-size: 13px;
    color: rgba(61,61,61,.821);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    width: 100%
}

@media(max-width: 500px) {
    .chart-div .each-song li .song-detail .songInfo .singer {
        font-size:2.5vmin
    }
}

.chart-div .each-song li i {
    padding: 0 10px;
    font-size: 18px;
    color: #a2a2a28c
}

@media(max-width: 400px) {
    .chart-div .each-song li i {
        font-size:4vmin
    }
}

.coverImg {
    height: 100%;
    border-radius: 5px;
    position: relative
}

#fullchart {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    border-radius: 10px
}

@media(max-width: 900px) {
    #fullchart {
        width:100%;
        padding-top: 60px
    }
}

#fullchart .chart-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto
}

#fullchart .chart-wrap h1 {
    font-size: 26px;
    font-weight: 600;
    text-align: center
}

#fullchart .chart-wrap .full-chart-div {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #fff
}

#fullchart .chart-wrap .full-chart-div .chart-header {
    display: flex;
    gap: 0;
    margin-bottom: 0;
    background-color: #ffed7b;
    height: 45px
}

#fullchart .chart-wrap .full-chart-div .chart-header li {
    text-align: center;
    font-weight: 600
}

#fullchart .chart-wrap .full-chart-div .Rank,#fullchart .chart-wrap .full-chart-div .Play,#fullchart .chart-wrap .full-chart-div .Heart,#fullchart .chart-wrap .full-chart-div .Listen {
    width: 14%;
    text-align: center;
    font-weight: 500
}

@media(max-width: 900px) {
    #fullchart .chart-wrap .full-chart-div .Rank,#fullchart .chart-wrap .full-chart-div .Play,#fullchart .chart-wrap .full-chart-div .Heart,#fullchart .chart-wrap .full-chart-div .Listen {
        font-size:12.5px
    }
}

@media(max-width: 400px) {
    #fullchart .chart-wrap .full-chart-div .Rank,#fullchart .chart-wrap .full-chart-div .Play,#fullchart .chart-wrap .full-chart-div .Heart,#fullchart .chart-wrap .full-chart-div .Listen {
        font-size:11px
    }
}

#fullchart .chart-wrap .full-chart-div .Rank {
    font-weight: 600
}

@media(max-width: 900px) {
    #fullchart .chart-wrap .full-chart-div .Rank {
        font-size:14px
    }
}

#fullchart .chart-wrap .full-chart-div .Song {
    width: 44%
}

@media(max-width: 900px) {
    #fullchart .chart-wrap .full-chart-div .Song {
        font-size:12.5px
    }
}

@media(max-width: 400px) {
    #fullchart .chart-wrap .full-chart-div .Song {
        font-size:11px
    }
}

#fullchart .chart-wrap .full-chart-div .Rank,#fullchart .chart-wrap .full-chart-div .Listen {
    flex-grow: 1
}

#fullchart .chart-wrap .full-chart-div .each-song {
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center
}

#fullchart .chart-wrap .full-chart-div .each-song:not(:last-of-type) {
    border-bottom: 1px solid #0000001c
}

#fullchart .chart-wrap .full-chart-div .each-song:hover {
    background-color: #f5f5f5
}

#fullchart .chart-wrap .full-chart-div .each-song .Song {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px
}

#fullchart .chart-wrap .full-chart-div .each-song .Song .coverImg {
    height: 45px;
    width: 45px
}

#fullchart .chart-wrap .full-chart-div .each-song .Song .songInfo {
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px)
}

#fullchart .chart-wrap .full-chart-div .each-song .Song .songInfo .title {
    display: block;
    width: 100%;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    margin-bottom: 7px;
    font-size: 16px
}

@media(max-width: 900px) {
    #fullchart .chart-wrap .full-chart-div .each-song .Song .songInfo .title {
        font-size:14px
    }
}

#fullchart .chart-wrap .full-chart-div .each-song .Song .songInfo .singer {
    display: block;
    line-height: 10px;
    font-size: 12px;
    color: rgba(86,86,86,.807)
}

@media(max-width: 900px) {
    #fullchart .chart-wrap .full-chart-div .each-song .Song .songInfo .singer {
        font-size:10px
    }
}

#fullchart .chart-wrap table {
    box-shadow: rgba(149,157,165,.2) 0px 8px 24px;
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
    background-color: #fff
}

@media(max-width: 768px) {
    #fullchart .chart-wrap table {
        width:100%;
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
}

#fullchart .chart-wrap table thead {
    background-color: #ffed7b;
    border-radius: 10px 10px 0 0;
    height: 50px;
    line-height: 50px
}

#fullchart .chart-wrap table thead tr th {
    font-weight: 500
}

#fullchart .chart-wrap table tbody tr {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #0000001c
}

#fullchart .chart-wrap table tbody tr:hover {
    background-color: #f5f5f5
}

#fullchart .chart-wrap table tbody tr:last-of-type {
    border-bottom: 0
}

#fullchart .chart-wrap table tbody tr td {
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer
}

#fullchart .chart-wrap table tbody tr .song {
    text-align: left
}

#fullchart .chart-wrap table tbody tr .song .coverImg,#fullchart .chart-wrap table tbody tr .song .songInfo {
    vertical-align: middle
}

#fullchart .chart-wrap table tbody tr .song .coverImg {
    display: inline-block;
    width: 45px !important;
    height: 45px !important;
    margin-right: 10px
}

#fullchart .chart-wrap table tbody tr .song .songInfo {
    display: inline-block;
    width: calc(100% - 60px);
    height: 40px
}

#fullchart .chart-wrap table tbody tr .song .songInfo .title {
    display: block;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    margin-bottom: 7px;
    font-size: 16px
}

#fullchart .chart-wrap table tbody tr .song .songInfo .singer {
    display: block;
    line-height: 10px;
    font-size: 12px;
    color: rgba(86,86,86,.807)
}

.login {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.login .login-wrap {
    height: fit-content;
    padding: 40px 0;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(50,50,93,.25) 0px 6px 12px -2px,rgba(0,0,0,.3) 0px 3px 7px -3px
}

.login .login-wrap .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
    flex-direction: column
}

.login .login-wrap .info h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    line-height: 30px
}

.login .login-wrap .info span {
    font-size: 12px;
    color: gray
}

.login .login-wrap .login-form {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.login .login-wrap .login-form input,.login .login-wrap .login-form .submit-btn {
    border-radius: 15px
}

.login .login-wrap .login-form .submit-btn {
    border: 0;
    background-color: #ffed7b;
    height: 45px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer
}

.login .login-wrap .login-form a {
    line-height: 45px;
    text-align: center
}

.login .login-wrap .login-form a .submit-btn {
    font-size: 15px
}

.login .login-wrap .login-form input {
    border: 1px solid #9090906b;
    padding: 0 10px;
    height: 40px
}

.login .login-wrap .login-form input:focus {
    outline: none
}

.login .login-wrap .login-form .error-message {
    font-size: 14px;
    color: #c23434;
    font-weight: 500;
    padding-left: 5px
}

.music-video {
    width: 90%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.music-video h3 {
    margin-left: 30px;
}

@media(max-width: 900px) {
    .music-video {
        width:100%;
        margin: 0;
        height: fit-content;
        padding-top: 65px
    }
}

.music-video #play-video {
    z-index: 50;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000091
}

.music-video #play-video i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer
}

.music-video #play-video .youtube-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 80%;
    padding-bottom: 42.25%;
    height: 0;
    overflow: hidden
}

.music-video #play-video .youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.music-video h3 {
    font-size: 25px;
    height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-bottom: 15px
}

.music-video .mv-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 2%
}

.music-video .mv-wrap .each-mv {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 5px;
    cursor: pointer
}

@media(max-width: 900px) {
    .music-video .mv-wrap .each-mv {
        width:48%;
        margin-bottom: 25px
    }
}

.music-video .mv-wrap .each-mv img {
    width: 100%;
    border-radius: 10px
}

.music-video .mv-wrap .each-mv span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    padding-left: 5px;
    line-height: 40px;
    font-size: 15px;
    width: 80%;
    font-weight: 500
}

.mypage-wrap {
    width: 90%;
    max-width: 650px;
    margin: 115px auto;
    display: flex;
    gap: 20px
}

@media(max-width: 900px) {
    .mypage-wrap {
        flex-direction:column;
        align-items: center;
        margin-top: 80px
    }
}

.mypage-wrap form,.mypage-wrap .heart-list {
    background-color: #fff;
    box-shadow: rgba(50,50,93,.25) 0px 6px 12px -2px,rgba(0,0,0,.3) 0px 3px 7px -3px;
    border-radius: 30px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    width: 310px;
    flex-shrink: 0
}

@media(max-width: 900px) {
    .mypage-wrap form,.mypage-wrap .heart-list {
        width:calc(100% - 20px)
    }
}

.mypage-wrap form {
    align-items: center;
    gap: 25px
}

.mypage-wrap form h2 {
    font-size: 20px;
    font-weight: 600
}

.mypage-wrap form .profile-edit {
    position: relative
}

.mypage-wrap form .profile-edit label {
    box-shadow: rgba(0,0,0,.16) 0px 3px 6px,rgba(0,0,0,.23) 0px 3px 6px;
    position: absolute;
    bottom: 7%;
    right: 3%;
    background: #fff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer
}

.mypage-wrap form .profile-edit label i {
    font-size: 30px
}

.mypage-wrap form .profile-edit .img-input {
    display: none
}

.mypage-wrap form .profile-edit .preview {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover
}

.mypage-wrap form .text-input {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.mypage-wrap form .text-input .id-div,.mypage-wrap form .text-input .nickname-div {
    display: flex;
    gap: 10px;
    align-items: center
}

.mypage-wrap form .text-input .id-div label,.mypage-wrap form .text-input .nickname-div label {
    font-size: 14px;
    font-weight: 600
}

.mypage-wrap form .text-input .id-div input[type=text i],.mypage-wrap form .text-input .nickname-div input[type=text i] {
    border-radius: 13px;
    font-weight: 500;
    border: 1px solid gray;
    font-size: 14px;
    padding: 5px 12px;
    height: 30px
}

.mypage-wrap form .text-input .id-div input[type=text i]:focus,.mypage-wrap form .text-input .nickname-div input[type=text i]:focus {
    outline: #ffed7b
}

@media(max-width: 900px) {
    .mypage-wrap form .text-input .id-div input[type=text i],.mypage-wrap form .text-input .nickname-div input[type=text i] {
        width:160px
    }
}

.mypage-wrap form button {
    border: 0;
    width: 85px;
    height: 45px;
    background-color: #ffed7b;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #3a3939d1
}

.mypage-wrap .heart-list {
    height: 424.8px;
    padding-bottom: 20px
}

.mypage-wrap .heart-list h2 {
    font-size: 16.5px;
    font-weight: 600;
    text-align: center
}

.mypage-wrap .heart-list .heart-song-wrap {
    width: 85%;
    margin: 25px auto;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.mypage-wrap .heart-list .heart-song-wrap::-webkit-scrollbar {
    display: none
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song:not(:last-of-type) {
    margin-bottom: 13px
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li {
    height: 40px;
    display: flex;
    gap: 10px
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li img {
    height: 100%
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li .song-detail {
    width: calc(100% - 50px)
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li .song-detail .songInfo {
    display: flex;
    flex-direction: column;
    gap: 3px
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li .song-detail .songInfo .title,.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li .song-detail .songInfo .signer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li .song-detail .songInfo .title {
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    line-height: 22px
}

.mypage-wrap .heart-list .heart-song-wrap .each-heart-song li .song-detail .songInfo .singer {
    font-size: 13px;
    color: #0e0e0eb8
}

@keyframes rotateImg {
    0% {
        transform: rotateZ(0)
    }

    100% {
        transform: rotateZ(360deg)
    }
}

@keyframes fillHeart {
    0% {
        scale: 1;
        opacity: 1
    }

    100% {
        scale: 2.5;
        opacity: 0
    }
}

@media(max-width: 1200px) {
    .player-wrap {
        flex-direction:row;
        width: 85%
    }
}

@media(max-width: 900px) {
    .player-wrap {
        width:96%
    }
}

#player {
    background-color: #fff;
    width: 230px;
    height: calc(7.5vmin * 4 + 40 * 4px - 70px);
    justify-content: center;
    box-shadow: rgba(50,50,93,.25) 0px 6px 12px -2px,rgba(0,0,0,.3) 0px 3px 7px -3px;
    border-radius: 30px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;

}

@media(max-width: 1200px) {
    #player {
        flex-direction:row;
        width: calc(100% - 50px);
        height: 22vmin;
        max-height: 120px;
        padding: 30px 25px;
        gap: 20px
    }
}

#player .song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

@media(max-width: 1200px) {
    #player .song-info {
        max-width:155px;
        width: 30%;
        min-width: 95px
    }
}

#player .song-info .control {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%
}

#player .song-info .control img {
    width: 85%;
    border-radius: 50%;
    animation: rotateImg 8s linear 0s infinite forwards;
    animation-play-state: paused
}

@media(max-width: 1200px) {
    #player .song-info .control img {
        width:100%
    }
}

#player .song-info .control #prev-btn,#player .song-info .control #play-btn,#player .song-info .control #next-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-radius: 50%
}

#player .song-info .control #prev-btn,#player .song-info .control #next-btn {
    color: #fdb500;
    height: 10px;
    padding: 10px 10px 15px 10px;
    background-color: rgba(15,15,15,.247)
}

#player .song-info .control #prev-btn::before,#player .song-info .control #next-btn::before {
    width: 10px;
    height: 10px
}

@media(max-width: 1200px) {
    #player .song-info .control #prev-btn,#player .song-info .control #next-btn {
        padding:7px;
        height: 14px;
        background-color: rgba(0,0,0,.49)
    }
}

#player .song-info .control #prev-btn {
    left: 25%;
    transform: translate(-50%, -50%)
}

@media(max-width: 1200px) {
    #player .song-info .control #prev-btn {
        left:0%
    }
}

#player .song-info .control #play-btn {
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-size: 20px;
    padding: 16px 16px 18px 18px;
    width: 15px;
    height: 15px
}

#player .song-info .control #next-btn {
    right: 25%;
    transform: translate(50%, -50%)
}

@media(max-width: 1200px) {
    #player .song-info .control #next-btn {
        right:0%
    }
}

#player .prograss {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

@media(max-width: 1200px) {
    #player .prograss {
        flex-grow:1;
        gap: 3px;
        width: 50%
    }
}

#player .prograss .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px
}

@media(max-width: 1200px) {
    #player .prograss .detail {
        gap:4px
    }
}

#player .prograss .detail .title {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    text-align: center;
    width: 78%;
    line-height: 24px
}

@media(max-width: 1200px) {
    #player .prograss .detail .title {
        font-size:14px;
        line-height: 16px
    }
}

#player .prograss .detail .singer {
    font-size: 13px;
    color: gray;
    width: 78%;
    text-align: center
}

@media(max-width: 1200px) {
    #player .prograss .detail .singer {
        font-size:11px;
        line-height: 13px
    }
}

#player .prograss .heart-vol {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px
}

#player .prograss .heart-vol i {
    font-size: 20px;
    color: #ff8c00;
    cursor: pointer
}

@media(max-width: 900px) {
    #player .prograss .heart-vol i {
        font-size:14px
    }
}

#player .prograss .heart-vol .fa.active {
    animation: fillHeart .3s 0s 1 linear
}

#player .prograss .heart-vol .volumn {
    position: relative;
    cursor: pointer
}

#player .prograss .heart-vol .volumn #volume-slider {
    -webkit-appearance: none;
    background: transparent;
    border-radius: 8px;
    outline: none;
    transform-origin: center right;
    transform: rotate(270deg) translate(100%, 0);
    position: absolute;
    top: -16px;
    right: 11px;
    background: linear-gradient(to right, #ffe283 0%, #ffe283 50%, #ececec 50%, #ececec 100%);
    width: 80px;
    height: 10px;
    accent-color: #fdb500
}

#player .prograss .heart-vol .volumn #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fdb500
}

#player .prograss .heart-vol .volumn #volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px
}

@media(max-width: 1200px) {
    #player .prograss .heart-vol .volumn #volume-slider {
        width:60px
    }
}

@media(max-width: 900px) {
    #player .prograss .heart-vol .volumn #volume-slider {
        top:-11px;
        right: 6px
    }
}

#player .prograss .bar {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #ffed7b;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    cursor: pointer
}

#player .prograss .bar .current-bar {
    background-color: #fdb500;
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    border-radius: 10px
}

@media(max-width: 900px) {
    #player .prograss .bar {
        margin-bottom:0px
    }
}

#player .prograss .time {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #303030;
    font-weight: 500
}

@media(max-width: 900px) {
    #player .prograss .time {
        font-size:11px
    }
}




.main-wrap {
    padding-left: 0px;
    width: calc(100vw - 300px);
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 750px
}

.main-wrap .header-btn {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: #f7f8fa;
    cursor: pointer
}

.main-wrap .header-btn i {
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 18px;
    left: 20px
}

@media(max-width: 900px) {
    .main-wrap .header-btn {
        display:block;
        position: fixed
    }
}

.main-wrap .logo {
    position: fixed;
    top: 21px;
    left: 45px;
    display: flex;
    align-items: center;
    font-weight: 600
}

.main-wrap .logo img {
    width: 30px
}

@media(max-width: 900px) {
    .main-wrap {
        padding-left:0px;
        width: calc(100vw - 40px)
    }
}

.main {
    margin: 40px auto;
    display: flex;
    gap: 30px;
    width: 90%
}

@media(max-width: 1200px) {
    .main {
        flex-direction:column;
        align-items: center;
        width: 100%;
        gap: 60px;
        margin-top: 10px
    }
}

@media(max-width: 900px) {
    .main {
        margin-left:0;
        margin-right: 0
    }
}

.newestAlbum {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    padding-top: 20px
}

@media(max-width: 900px) {
    .newestAlbum {
        margin-top:50px;
        width: 100%
    }
}

.newestAlbum h1 {
    font-weight: 600;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 6px
}

@media(max-width: 1200px) {
    .newestAlbum h1 {
        padding-left:3%
    }
}

.newestAlbum .new-album {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap
}

@media(max-width: 1200px) {
    .newestAlbum .new-album {
        justify-content:center;
        gap: 3%
    }
}

.newestAlbum .new-album .each-song {
    cursor: pointer;
    width: 13.5%;
    flex-shrink: 0
}

@media(max-width: 1200px) {
    .newestAlbum .new-album .each-song {
        width:30%;
        margin-bottom: 20px
    }
}

.newestAlbum .new-album .each-song li {
    width: 100%;
    flex-direction: column
}

.newestAlbum .new-album .each-song li .coverImg {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    -webkit-box-reflect: below -59px linear-gradient(transparent, transparent, black)
}

.newestAlbum .new-album .each-song li .song-detail {
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

@media(max-width: 1200px) {
    .newestAlbum .new-album .each-song li .song-detail {
        margin-top:25px
    }
}

@media(max-width: 900px) {
    .newestAlbum .new-album .each-song li .song-detail {
        margin-top:5px
    }
}

.newestAlbum .new-album .each-song li .song-detail .title {
    font-size: 16px;
    line-height: 20px;
    padding: 4px 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

@media(max-width: 900px) {
    .newestAlbum .new-album .each-song li .song-detail .title {
        padding-top:0;
        font-size: 14px;
        line-height: 16px
    }
}

.newestAlbum .new-album .each-song li .song-detail .singer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    font-size: 13px;
    padding: 2px 0;
    color: rgba(61,61,61,.821)
}

@media(max-width: 900px) {
    .newestAlbum .new-album .each-song li .song-detail .singer {
        font-size:12px
    }
}

.footer {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    color: rgba(128,128,128,.874);
    padding-bottom: 20px
}
