@charset "UTF-8";
*{
	font-family:"Roboto", Arial, sans-serif;
    font-style: normal;
	margin:0;
	padding:0;
	list-style: none;
}
.Ytbody {
	top: 70px; 
	position:fixed;
	display:flex;
	height: calc(100vh-70px);
}


.video_selection {
	margin-top:120px;
	margin-left: 240px;
	transition: margin-left .3s ease;
	background:  #f9f9f9; 
}

.video_selection.moved {
	margin-left:0;
}
.container {
	width: 100%;
}
.mylist {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.mylist h4 {
	font-size:20px;
	font-weight:bold;
	margin:15px 0;
	
}
.mylist-header {
	margin-right:15px;
	display: flex;
    border-bottom: 2px solid #000;
    width: 100%;
    padding: 10px 0;
}
.mylist-header ul{
	display:flex;
	justify-content: space-around;	
	width: 100%;
	padding:0;
	margin: 0;
}
.mylist-header li {
	font-weight:bold;
	flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.mylist-item {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.video_list {
	display:flex;
	justify-content:space-between;
	width: 100%;
	
}
.video_list li {
	font-size: 14px;
	flex: 1;
    text-align: center;
    padding: 10px;
    word-break: break-all;
    box-sizing: border-box;
}
.setting {
	font-size:20px;
    display: flex;
    flex-direction:column;
    margin-right:15px;
    margin-top:10px;
    align-items: center;
    gap: 10px; /* Ensures spacing between the icons */
}

.setting i {
	cursor:pointer;
}
.mylist .mylist-search {
    display: flex;
    justify-content: flex-end; /* 오른쪽으로 이동 */
    margin-right:10px;
    align-items: center;
    margin-bottom: 15px; /* 검색창 아래에 여유 공간 추가 */
    width: 100%;
}

.search-inner {
     position: relative;
    width: 100%;
    max-width: 300px;
}


.search-inner input[type="search"] {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box; /* 패딩 포함해서 너비 계산 */
}

.search-inner button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    font-size: 14px;
    background-color: #c0c0c0; /* 버튼 배경색 */
    border: 1px solid #c0c0c0;
    color: white;
    border-radius: 0 4px 4px 0; /* 오른쪽 모서리만 둥글게 */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: none; /* 버튼의 왼쪽 경계를 숨김 */
}

.search-inner button i {
    margin-left: 0; /* 버튼 안의 아이콘과 텍스트 간의 간격 조정 */
}

#no-results-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    z-index: 1000; /* 다른 요소 위에 나타나도록 설정 */
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
