@charset "UTF-8";

.Ytbody {
	margin-top:70px;
	display:flex;
	position:relative;
	height: calc(100vh-70px);
}

.video_selection {
	margin-left: 240px;
	transition: margin-left .3s ease;
	background:  #f9f9f9; 
}

.video_selection.moved {
	margin-left:0;
}
.container {
	width: 100%;
}
.mylist {
	display:flex;
	flex-direction:column;
	align-items:center;
}